.App {
  background-color: #ffffff;
  padding: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App > div {
  background-color: #ffffff;
  padding: 85px;
  margin: 20px;
  border: 1px solid darkblue;
  box-sizing: border-box;
  border-radius: 0px;
  width: 350px;
  height: 350px;
  font-size: 20px;
  text-align: center;
}
